In [73]:
# Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок.
# Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp 
# для данного значения userId

import pandas as pd

ratings = pd.read_csv('/Users/mariadolgova/Downloads/Python_7_pandas_functions_groupby-2/ml-latest-small/ratings.csv')

ratings_count = ratings.groupby('userId').count().reset_index()
filtered_ratings = ratings_count[ (ratings_count['rating'] >= 100 ) ]
users_with_100 = filtered_ratings['userId'].tolist()

final_rating = ratings[ ratings['userId'].isin(users_with_100)]

ratings_agg = final_rating.groupby('userId').agg([min,max])
ratings_agg['diff'] = (ratings_group['timestamp']['max'] - ratings_group['timestamp']['min']) / 24 / 3600

ratings_agg['diff'].mean()

455.22857137198986

In [90]:
# Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия).
# Необходимо сформировать две таблицы:
# 1. таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
# 2. аналогичную таблицу по типам выручки с указанием адреса клиента

# Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

import pandas as pd
import numpy as np

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

merged_df = rzd.merge(auto, how='outer', on='client_id').merge(air, how='outer', on='client_id').replace(np.nan,0)
merged_df

merged_with_adress = client_base.merge(rzd, how='outer', on='client_id').merge(auto, how='outer', on='client_id').merge(air, how='outer', on='client_id').replace(np.nan,0)
merged_with_adress

   client_id          address  rzd_revenue  auto_revenue  air_revenue
0        111  Комсомольская 4       1093.0           0.0          0.0
1        112   Энтузиастов 8а       2810.0           0.0          0.0
2        113  Левобережная 1а      10283.0       57483.0          0.0
3        114          Мира 14       5774.0          83.0          0.0
4        115        ЗЖБИиДК 1        981.0         912.0         81.0
5        116    Строителей 18          0.0        4834.0          4.0
6        117  Панфиловская 33          0.0          98.0         13.0
7        118     Мастеркова 4          0.0           0.0        173.0