In [279]:
films = pd.read_csv('/Users/mariadolgova/Downloads/ml-latest-small/ratings.csv')

# Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

# Результат классификации запишите в столбец class

movies_group = films.groupby('movieId').mean()

def rating_func(a):
    if a <= 2.0:
        return 'low rating'
    elif 2 < a < 4.5:
        return 'medium rating'
    elif a >= 4.5:
        return 'high rating'

movies_group['class'] = movies_group['rating'].apply(rating_func)

new_df = movies_group[['rating', 'class']].sort_values('movieId', ascending=True)

new_df.head()

           rating          class
movieId
1        3.920930  medium rating
2        3.431818  medium rating
3        3.259615  medium rating
4        2.357143  medium rating
5        3.071429  medium rating

In [147]:
# Используем файл keywords.csv.

# Необходимо написать гео-классификатор,
# который каждой строке сможет выставить географическую принадлежность определенному региону.
# Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона.
# Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
geos = pd.read_csv('/Users/mariadolgova/Downloads/Python_7_pandas_functions_groupby/keywords.csv')

def region_finder(keyword_value):
    
    for regions in geo_data:
        if keyword_value in geo_data[regions]:
            return regions
    return 'undefined'

geos['region'] = geos['keyword'].apply(region_finder)

geos.tail()

                       keyword  shows     region
99995   эльдорадо старый оскол   3705  undefined
99996      frigate для firefox   3630  undefined
99997                   укрсиб   3630  undefined
99998  погода в ялте на неделю   3688  undefined
99999                     ггму   3630  undefined

In [278]:
# Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. 
# Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия.
# Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

# При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:
# 1. В переменную years запишите список из всех годов с 1950 по 2010.
# 2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска.
# Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

# 1. для каждой строки пройдите по всем годам списка years
# 2. если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
# 3. если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

# Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
# Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и 
# отсортируйте результат по убыванию рейтинга

films_data = pd.read_csv('/Users/mariadolgova/Downloads/ml-latest-small/movies.csv')
ratings = pd.read_csv('/Users/mariadolgova/Downloads/ml-latest-small/ratings.csv')

years = list(range(1950,2011))

def production_year(title_v):
    
    for year in years:
        if str(year) in title_v:
            return year
    return '1990'

films_data['year'] = films_data['title'].apply(production_year)

merged = films_data.merge(ratings).groupby('year').mean().reset_index()
final_df = merged[['year', 'rating']].sort_values('rating', ascending=False)

final_df.head(10)

    year    rating
7   1957  4.039535
4   1954  4.009191
12  1962  3.969466
2   1952  3.953125
22  1972  3.944293
14  1964  3.940160
24  1974  3.935622
17  1967  3.922572
25  1975  3.879121
8   1958  3.842424